<img src="~/Content/Images/bekk_lars.jpg"/>
<p class="name">Lars Smeby</p>
<p class="titles">
    Consultant at Bekk Consulting AS<br/>
    Microsoft Certified Professional<br/>
    EPiServer Certified Developer
</p>